<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_icon"
        android:supportsRtl="true"
        android:label="C54"
        android:theme="@style/Theme.Budgetmanager"
        tools:targetApi="31">
<!--        android:theme="@style/Theme.Budgetmanager"-->
        <activity
            android:name=".ui.settingtab.EditTextActivity"
            android:exported="false"
            android:label="  Lưu dữ liệu"
            />
<!--    @@@    android:theme="@style/AppTheme"-->
        <activity
            android:name=".ui.settingtab.Covert"
            android:exported="false" />
        <activity
            android:name=".ui.TrangChu"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>